.container{
    background-color: #fff;
    width: 100%;
    position: sticky;
    z-index: 2;
    // background-color: bisque;
    top: 0;

    

    .username_logo{
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        padding: 0.2rem 0;

        .username{
            font-size: 1.5rem;
            font-weight: bold;
            color: #14532D;
        }
        .logo{
           height: 2.5rem;
           width: 2.5rem;
           border-radius: 50%; 
        }
    }
    .chip{
        color:#166534;
        padding: 0.1rem 0.7rem;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: none;
    }

}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
